.answer .tools {
    display: none;
}

.answer:hover {
    background-color: #f9f9f9;
}

.answer:hover .tools {
    display: block;
}

.answer .tools span {
    cursor: pointer;
    float: right;
}

.answer .tools span:hover {
    color: #337ab7;
}